body {
  position: relative;
  min-width: 100vh;
  min-height: 100vh; }

h1 {
  text-align: center; }
  h1 img {
    width: 300px; }

ul {
  padding: 0; }

.homete-create-button {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #6091d3;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
  margin: 10px; }
  .homete-create-button i {
    font-weight: bold;
    font-size: 40px;
    color: white; }
  .homete-create-button:hover {
    background-color: #FE2E2E; }

#homete-button-rapper {
  display: block;
  text-align: center; }

#homete-button {
  display: inline-block;
  list-style: none; }
  #homete-button div {
    text-align: left;
    width: 90vw;
    max-width: 700px;
    margin: 4px auto;
    border: solid 3px #6091d3;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: #6091d3;
    font-weight: bold; }
    #homete-button div:hover {
      background-color: #A9E2F3; }

a {
  text-decoration: none;
  color: black; }

#form-rapper {
  max-width: 700px;
  margin: 0 auto; }
  #form-rapper form {
    position: relative; }
  #form-rapper label {
    font-weight: bold;
    color: #6091d3; }
  #form-rapper input, #form-rapper textarea {
    width: 100%;
    border: solid 3px #6091d3;
    border-radius: 4px;
    outline: none; }
  #form-rapper button {
    display: block;
    color: white;
    height: 5vh;
    font-weight: bold;
    border-radius: 4px;
    border: solid 3px #6091d3;
    background-color: #6091d3;
    margin: 0.5rem 0 0.5rem auto; }

#homent {
  display: inline-block;
  list-style: none; }
  #homent div {
    text-align: left;
    width: 90vw;
    max-width: 700px;
    margin: 4px auto;
    border: solid 3px #6091d3;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: #6091d3;
    font-weight: bold; }

.homete-title, .homete-discription {
  text-align: center; }
